<h1 class="display-4" align="center">Editing Article</h1>

<%= render 'form', article: @article %>


<%= link_to 'Cancel Update', articles_path, class:"btn btn-secondary btn-lg ", style: "font-family:times" %>
