<h1 class="display-5" align="center">New Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Cancel Article ', articles_path, class:"btn btn-secondary btn-lg ", style: "font-family:times" %>
