@import "bootstrap-sprockets";
@import "bootstrap";


*{
    font-family:  Times;	
}

#body{
 	margin: 30px;
}
/* The navigation bar */
.navbar {

 }

#logo{
	color: #336699;
	font-weight:bold;
	font-size: 2.0em;
}


#logo:hover {
	color :#264d73;
}

.navbar-nav .nav-item, form {
	font-size: 1.35em;

}



.center {
	text-align: center;
}

.jumbotron h1{

	font-weight:bold;
	
}
#title{
	font-size: 2.6em;
	color: #336699;
}

.article-body{
	font-size: 2.1em;
	color: black;
}

.auther-meta-details{
	border-top: 1px solid grey;
	margin-top:5px;
}	

.discription{
	font-size: 1.35em;	

}

.btn{
	color: white;
}


footer{
	
	border-top: 0.5px solid #BCBDBC;
	text-align: center;
}